/*fonts used*/
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;      
}

/*main and body*/
body {
    color: black;
    background-image: url(../images/galwaycity1.jpeg);
    background-position: center;
    font-family: Georgia, Times, serif;
    line-height: 1.4em;
    margin: 0px;}    

main{
    padding: 10%
}

/*header, footer and aside*/
header {
font-size: 10px;
padding-left: 40% auto;  
background-color: maroon;
}
    
footer {
font-size: 80%;
padding: 7px 0px 0px 20px;
color: white;
border-bottom-color: aqua;
margin: auto;
background-color: maroon;
}

    
    
aside {
    font-size: 15px;
    background-color: white;
}

/* text and font*/

p {
    font-family: sans-serif;    
    margin: 0 auto;  
}

li {
    font-family: sans-serif;
    display:inline;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    margin: 0 auto;    

}

h1 {
    font-family: "Urban";    
    margin: 0px;  
    text-align: center;    
}



h2 {
font-family: "Urban";    
margin: 0px;
color: black;
text-align: center;
}    



h3 {
color: white;
font-family: "Urban";
font-size: 18px;    
}

.text4 {
font-size: 24px;    
}

#text5 {
font-family: urban sans-serif;    
color: black;
}

/* images div */
.homeimage {
margin: 10%;
padding-left: 8px; 
width: 80%;
height: auto;
}



/*CSS Grid*/

.gridcontainer {
    width: 80%;
    height: auto;
    margin: auto;
    background-color: maroon;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4%;
}

.griditem {
    background-color: white;
    border: solid maroon 20px;
    border-radius: 8%;
    text-align: center;
    
}

.griditem img{ 
    width: 100%;
    height: 250px;
}


.navigation {
    display: flex;
    height: auto;
    font-size: 15px;
    color: white;
    padding: 20px;
}

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*naviagation bar and drop down menu */

nav {
    overflow: hidden;
    background-color: maroon;
}

nav a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* container <div> */
.dropdown {
    float: left;
    overflow: hidden;
}

/* the color and text style for all the nav buttons */
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

nav a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

/* dropdown content */
.dropdown-content {
    display: none;
    position: fixed;
    background-color: pink;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: maroon;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: white;
    color: darkcyan;
}

/* dropdown menu for hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/*box elements*/

#box1 {
    width: 50%px auto;
    height: auto;
    background-color: white;
    padding: 15px;
    border: solid maroon  20px;
    margin: 40px;
    border-radius: 5%;
    box-shadow: black 4px 9px 3px 1px;
    }


#box2 {
    width: 25%;
    height: auto;
    background-color: maroon;
    padding: 15px;
    border: solid white  20px;
    margin: 40px;
    border-radius: 5%;
    box-shadow: black 4px 9px 3px 1px;
    }

#box3 {
    width: 25%;
    height: auto;
    background-color: maroon;
    padding: 15px;
    border: solid white  20px;
    margin: 90px;
    margin-left: 415px;
    border-radius: 5%;
    box-shadow: black 4px 9px 3px 1px;
    text-align: center;
        }
